.content {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    padding: 0.8rem;
    background-color: purple;
    transition: width 0.5s ease, padding 0.5s ease;
    width: 0;
}

.content_desktop {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.content_mobile {
    width: 100%;
}

.inner_content {
    position: relative;
}

.pages {
    width: calc(200% + 1.6rem);
    display: flex;
    justify-content: space-between;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.pages > * {
    width: calc(50% - 0.8rem);
}

.inner_content {
    position: relative;
}

.error {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    width: 0;
    padding: 0;
}

.page-controllers {
    display: flex;
    position: absolute;
    bottom: 1.4rem;
    z-index: 2;
    align-items: center;
    width: calc(100% - 6px);
    justify-content: center;
}

.page-controller {
    position: relative;
    height: 1.4rem;
    width: 4rem;
    opacity: 0.7;
    margin: 0 0.35rem;
    background-color: rgb(215 207 231);
    outline: none !important;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.page-controller:not(.page-controller_active)::before {
    content: "";
    position: absolute;
    border-style: solid;
    top: 0;
    width: 0;
    height: 0;
}
.page-controller_left:not(.page-controller_active) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-controller_left:not(.page-controller_active)::before {
    right: 100%;
    border-width: 0.7rem 0.5rem 0.7rem 0;
    border-color: transparent rgb(215 207 231) transparent transparent;
}

.page-controller_right:not(.page-controller_active) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-controller_right.flicker {
    animation: flicker 1s infinite linear forwards;
    -moz-animation: flicker 1s infinite linear forwards;
    -o-animation: flicker 1s infinite linear forwards;
    -webkit-animation: flicker 1s infinite;
}

.page-controller_right.flicker::before {
    animation: flicker_triangle 1s infinite linear forwards;
    -moz-animation: flicker_triangle 1s infinite linear forwards;
    -o-animation: flicker_triangle 1s infinite linear forwards;
    -webkit-animation: flicker_triangle 1s infinite linear forwards;
}

.swipe-tutorial {
    position: absolute;
    box-shadow: 0 0 1px 0 #fff;
    width: 50px;
    height: 50px;
}

@keyframes flicker {
    0% {
        background: rgb(79, 61, 125);
        transform: scale(1);
    }
    50% {
        background: rgb(79, 61, 125);
        transform: scale(1.2);
    }
    100% {
        background: rgb(79, 61, 125);
        transform: scale(1);
    }
}

@keyframes flicker_triangle {
    0% {
        border-color: transparent transparent transparent rgb(79, 61, 125);
        transform: scale(1);
    }
    50% {
        border-color: transparent transparent transparent rgb(79, 61, 125);
        transform: scale(1);
    }
    100% {
        border-color: transparent transparent transparent rgb(79, 61, 125);
        transform: scale(1);
    }
}

.page-controller_right:not(.page-controller_active)::before {
    left: 100%;
    border-width: 0.7rem 0 0.7rem 0.5rem;
    border-color: transparent transparent transparent rgb(215 207 231);
}

.page-controller:hover {
    opacity: 0.9;
}

.page-controller_active {
    opacity: 0.9;
}

.slide-tutorial {
    pointer-events: none;
    z-index: 10000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 70%;
}

.slide-tutorial__content {
    right: 0;
    position: absolute;
    height: 80px;
    transform: rotate(-180deg);
    background: rgba(70, 70, 70, 0.5);
    border-radius: 80px;
    animation: name 2s linear infinite 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.slide-tutorial__content::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    left: 0;
    background-color: rgba(70, 70, 70, 0.5);
}

.slide-tutorial__content::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    left: 30px;
    top: 30px;
    box-shadow: 0 0 5px 0 white;
}

@keyframes name {
    0% {
        width: 80px;
    }

    10% {
        width: 80px;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}
