.preloader_overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: purple;
}

.preloader {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes animate-circle {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes animate-circle {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

body {
    background: #a53860;
}

.loader {
    --size: 10rem;
    height: var(--size);
    width: var(--size);
}

.loader > .circle {
    --duration: 2s;

    position: absolute;
    height: inherit;
    width: inherit;
    background: #ffa5ab;
    border-radius: 50%;
    -webkit-animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
    animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
}

.loader > .circle:nth-of-type(1) {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader > .circle:nth-of-type(2) {
    -webkit-animation-delay: calc(var(--duration) / -3);
    animation-delay: calc(var(--duration) / -3);
}

.loader > .circle:nth-of-type(3) {
    -webkit-animation-delay: calc(var(--duration) / -6);
    animation-delay: calc(var(--duration) / -6);
}
